/*Global*/

*, *::before, *::after {
    box-sizing: border-box;
}

/*Navbar*/

.navbar {
    padding: 5px 30px 5px 30px;
}

/*Gallery*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/*PHOTOS*/
.party-end {
    font-size: 24px;
    text-align: center;
    animation: psychedelic 4s infinite alternate;
    color: #ff00ff;
}

@keyframes psychedelic {
    0% { transform: scale(1) rotate(0deg); color: #ff00ff; }
    50% { transform: scale(1.1) rotate(10deg); color: #00ffff; }
    100% { transform: scale(1) rotate(-10deg); color: #ffff00; }
}

/*Gallery*/
body {
    background: black;
    padding: 60px, 30px;
    color: white;
}

h1 {
    font-family: 'Open Sans', 'sans-serif';
    text-align: center;
    color: white;
    font-size: 36px;
}

.element {
    margin: 5px;
    border-radius: 5px;
   background-position: center;
    background-size: cover;
}

.inside-container, .flex-column, .flex-row {
    display: flex;
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.element, .element-big {
    height: 480px;
}

body:hover .element {
    opacity: 0.5;
}

body .element:hover {
    opacity: 1;
}
.a{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    z-index: 0;
}
.heart{
    color: red;
    font-size: 30px;
    opacity: 0.6;
}

.bright{
    display: none;
}
.j {
    display: none;
}
/*Media Mobile RWD*/

@media (max-width: 767px) {
    .flex-row, .inside-container, .flex-column {
       display: block;
        align-items: center; 
    }

    .element {
        height: 500px;
    }

    .navbar {
        padding: 5px 30px 5px 30px;
    }

    .btn-group {
        left: -50%;
    }
}